// Place all the styles related to the Landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap/scss/bootstrap";

$gray-medium-light: #eaeaea;
$gray-darker: #a9a9a9;
$gray-light: #d3d3d3;
$gray: #808080;
$blue-light: #00BFFF;

.background-blue{
    background: #deeff5;
}

footer{
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid #8aacb8;
    color: $gray-light;
    a{
       color: $gray;
    }
    &:hover{
       color: $gray-darker;   
    }
    small{
       float: left;      
    }
    ul{
       float: right;
       list-style: none;
       li{
          float: left;
          margin-left: 15px;
       }
    }
 }