<footer class="footer">
  <small>
    SBS Kentei Mondai Web by <a href="http://www.sbs-infosys.co.jp/">SBS情報システム</a>
  </small>
  <nav>
    <ul>
      <small>
        <li><%= link_to "SBS検定問題ｳｪﾌﾞについて", "#" %></li>
        <li><%= link_to "連絡先", "#" %></li>
      </small>
    </ul>
  </nav>
</footer>