<header class="navbar navbar-light  bg-light navbar-fixed-top shadow p-1 mb-3 rounded">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>" id="sbs_title">
      <%= image_tag("sbs_logo.png", alt:"sbs logo", size: "40x27", id: "sbs_logo") %>検定問題ｳｪﾌﾞ
    </a>
    <nav>
      <ul class="nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <% if user_signed_in? %>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %> </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>