<header class="navbar navbar-light  bg-light navbar-fixed-top shadow p-1 mb-3 rounded">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>" id="sbs_title">
      <%= image_tag("sbs_logo.png", alt:"sbs logo", size: "40x27", id: "sbs_logo") %>検定問題ｳｪﾌﾞ
    </a>
    <nav>
      <ul class="nav">
    </nav>
  </div>
</header>